<div style="display: flex; justify-content: center; margin: 10px" >
    <form action="/search" method="get">
        <input type="text" placeholder="Search ..." name="searchTerm" style="width: 400px;height: 30px;">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
</div>
<div style="display: flex; justify-content: center; margin: 10px" >
    <form action="/filter" id="filter-form">
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="<%= null %>" >All Categories</option>
            <option value="clothes">Clothes</option>
            <option value="cars">Cars</option>
            <option value="electronics ">Electronics</option>
            <option value="books ">Books</option>
            <option value="Computer ">Computers</option>
            <option value="beauty">Beauty</option>
            <option value="home">Home</option>
        </select>
        <label for="minPrice">min-price</label>
        <input type="number" name="minPrice">
        <label for="maxPrice">max-price</label>
        <input type="number" name="maxPrice">
        <label for="sort">Sort By</label>
        <select name="sort" id="">
            <option value="">default</option>
            <option value="price">Ascending Price</option>
            <option value="-price">Descending Price</option>
        </select>
        <button type="submit">Filter</button>
    </form>
</div>
